* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: 'Open sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

header {
  width: 100vw;
  height: 15vh;
  background-color: #262626;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

header .caption {
  padding: 40px;
}

.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #262626; */
}

form {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border: #cccccc solid 1px;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  width: 250px;
  padding: 10px;
  margin: 10px;
  background: none;
  border: #bbbbbb solid 1px;
}

.submit {
  color: #eee;
  background-color: #262626;
}

@media only screen and (max-width: 1000px) {

  header {
    font-size: 2em;
  }

  form {
    width: 80%;
    height: 65%;
    border-radius: 30px;
  }

  form input {
    margin: 20px;
    font-size: 3em;
    width: 550px;
    height: 170px;
  }
}