@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap|Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Squada+One&display=swap");
section.pinned-section .card, section.recent-section .recent-cards .card {
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 40px 30px 0px;
  text-align: justify;
  position: relative;
  background: #f3f4f3;
  -webkit-box-shadow: 0px 0px 29px -13px rgba(87, 84, 87, 0.51);
          box-shadow: 0px 0px 29px -13px rgba(87, 84, 87, 0.51);
  border-radius: 12px;
  font-family: "Josefin Sans", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
}

@media (max-width: 992px) {
  section.pinned-section .card, section.recent-section .recent-cards .card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  section.pinned-section .card, section.recent-section .recent-cards .card {
    padding: 20px;
  }
}

section.pinned-section .card .card-date, section.recent-section .recent-cards .card .card-date {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 18px;
  color: #0c0d0c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

section.pinned-section .card .card-date .day, section.recent-section .recent-cards .card .card-date .day {
  font-family: "Squada", cursive;
  font-size: 3em;
}

section.pinned-section .card .card-date .month, section.recent-section .recent-cards .card .card-date .month {
  font-family: "Squada", cursive;
  font-size: 1.2em;
  padding-top: 10px;
}

section.pinned-section .card .card-date .year, section.recent-section .recent-cards .card .card-date .year {
  font-size: 0.8em;
}

section.pinned-section .card .card-content, section.recent-section .recent-cards .card .card-content {
  font-size: 1.1em;
  width: 100%;
  line-height: 22px;
  color: #000000;
}

section.pinned-section .card .card-content:before, section.recent-section .recent-cards .card .card-content:before {
  content: '\A';
  white-space: pre;
}

@media (max-width: 576px) {
  section.pinned-section .card .card-content, section.recent-section .recent-cards .card .card-content {
    padding-left: 25px;
  }
}

section.pinned-section .card .card-like, section.recent-section .recent-cards .card .card-like {
  background: #FFF;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 40px;
  top: 85%;
  padding: 10px;
  border-radius: 100%;
  border: #e6e8e6 solid 1px;
  -webkit-transition: -webkit-box-shadow 0.8s;
  transition: -webkit-box-shadow 0.8s;
  transition: box-shadow 0.8s;
  transition: box-shadow 0.8s, -webkit-box-shadow 0.8s;
}

section.pinned-section .card .card-like .plus1, section.recent-section .recent-cards .card .card-like .plus1 {
  position: absolute;
  z-index: 1;
  display: none;
  left: 20px;
}

section.pinned-section .card .card-like img, section.recent-section .recent-cards .card .card-like img {
  width: inherit;
  position: relative;
  left: 2px;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

section.pinned-section .card .card-like img:hover, section.recent-section .recent-cards .card .card-like img:hover {
  -webkit-filter: contrast(250%);
  filter: contrast(250%);
}

section.pinned-section .card .card-like:hover, section.recent-section .recent-cards .card .card-like:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(148, 146, 148, 0.4);
          box-shadow: 0px 0px 10px 0px rgba(148, 146, 148, 0.4);
  cursor: pointer;
}

/*
--Template--

<div class="card">
	<span class="card-date">
		<span class="card-date">
			<div class="day">08</div>
			<div class="month">May</div>
			<div class="year">2018</div>
		</span>
	</span>
	<span class="card-content">
		content
	</span>
	<div class="card-like">
		<img src="./resources/images/clap.svg">
	</div>
</div>


Made by github.com/ghostjson
contributors:
	github.com/r-aravind
*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #d1ddd8;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  color: #0c0d0c;
  font-family: "Source Sans Pro", "Impact", sans-serif;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 576px) {
  .container {
    margin-right: 30px;
    margin-left: 30px;
  }
}

aside.mic {
  position: absolute;
  right: 35px;
  top: 55px;
  -webkit-animation-name: anim;
          animation-name: anim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

aside.mic img {
  height: 400px;
}

@media (max-width: 992px) {
  aside.mic img {
    visibility: hidden;
  }
}

header {
  background: #262626;
  -webkit-box-shadow: 12px 20px 29px -13px rgba(87, 84, 87, 0.51);
          box-shadow: 12px 20px 29px -13px rgba(87, 84, 87, 0.51);
  -webkit-box-shadow: 0px 10px 22px -2px #7a7a7a;
          box-shadow: 0px 10px 22px -2px #7a7a7a;
  color: #f3f4f3;
  font-family: "Source Sans Pro", "Impact", sans-serif;
  font-weight: 400;
  width: 100%;
}

header h1.main-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  margin-bottom: 30px;
}

header h1.main-heading .logo {
  background: green;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  font-size: 0.7em;
  text-align: center;
  line-height: 80px;
  color: #FFF;
  position: relative;
  right: 20px;
}

header h1.main-heading .caption {
  line-height: 70px;
  margin-left: 100px;
}

@media (max-width: 576px) {
  header h1.main-heading .caption {
    margin-left: 20px;
  }
}

.container h2.sub-heading {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 40px;
  height: 50px;
}

.container h2.sub-heading .pp img {
  width: 50px;
  border-radius: 100%;
}

@media (max-width: 576px) {
  .container h2.sub-heading .pp img {
    width: 70px;
  }
}

.container h2.sub-heading .name {
  font-size: 1.4em;
  padding-left: 20px;
  line-height: 50px;
}

@media (max-width: 576px) {
  .container h2.sub-heading .name {
    font-size: 2em;
    line-height: 70px;
  }
}

section.pinned-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

section.pinned-section .heading {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  section.pinned-section .heading {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

section.pinned-section .card {
  margin-bottom: 45px;
}

@media (max-width: 576px) {
  section.pinned-section .card {
    margin-bottom: 60px;
  }
}

section.recent-section {
  margin-top: 30px;
  margin-bottom: 20px;
}

section.recent-section .heading {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  section.recent-section .heading {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

section.recent-section .recent-cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.recent-section .recent-cards .card {
  margin-right: 30px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  section.recent-section .recent-cards .card {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  section.recent-section .recent-cards .card {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  section.recent-section .recent-cards {
    display: block;
  }
}

.showmore {
  font-size: 1.2em;
  color: gray;
}

.showmore a,
.showmore a:active,
.showmore a:hover,
.showmore a:visited {
  color: #0c0d0c;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.showmore a:hover {
  color: black;
}

@-webkit-keyframes anim {
  0% {
    top: -50px;
  }
  95% {
    top: 60px;
  }
  100% {
    top: 55px;
  }
}

@keyframes anim {
  0% {
    top: -50px;
  }
  95% {
    top: 60px;
  }
  100% {
    top: 55px;
  }
}
/*# sourceMappingURL=main.css.map */