// Card Template
// include $card-bg & $date-color

%card {
	width: 80%;
	box-sizing: border-box;
	padding: 10px 40px 30px 0px;
	text-align: justify;
	position: relative;
	background: $card-bg;
	box-shadow: 0px 0px 29px -13px rgba(87, 84, 87, 0.51);
	border-radius: 12px;
	font-family: $text-font;
	display: grid;
	grid-template-columns: 20% auto;

	@include lg {
		width: 100%;
	}

	@include sm {
		padding: 10px;
		padding-right: 15px;
	}

	.card-date {
		text-align: center;
		font-size: 1em;
		font-weight: bold;
		line-height: 18px;
		color: $date-color;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		line-height: 30px;
		align-items: center;
		padding-top: 30px;
		font-family: $text-font;
		// padding-bottom: 30px;

		@include sm {
			line-height: 20px;
			padding-bottom: 20px;
		}

		.day {
			font-size: 3em;

			@include sm {
				font-size: 2.6em;
			}
		}

		.month {
			font-size: 0.85em;
			padding-top: 5px;

			@include sm {
				font-size: 0.6em;
			}
		}

		.year {
			font-size: 0.85em;
			padding-top: 5px;
		}
	}


	.card-content {
		font-size: 0.9em;
		width: 90%;
		line-height: 22px;
		color: $card-text;

		&:before {
			content: '\A';
			white-space: pre;
		}

		@include sm {
			padding-left: 10px;
			padding-bottom: 35px;
		}
	}


	.card-like {
		background: #FFF;
		width: 35px;
		height: 35px;
		position: absolute;
		right: 40px;
		bottom: -17.5px;
		padding: 10px;
		border-radius: 100%;
		border: #e6e8e6 solid 1px;
		// box-shadow: 0px 0px 50px -8px rgba(148, 146, 148, 1);
		transition: box-shadow 0.8s;

		.plus1 {
			position: absolute;
			z-index: 1;
			display: none;
			left: 20px;
		}

		img {
			width: inherit;
			position: relative;
			left: 2px;
			transition: filter 0.5s;

			&:hover {
				-webkit-filter: contrast(250%);
				filter: contrast(250%);
			}
		}

		&:hover {
			box-shadow: 0px 0px 10px 0px rgba(148, 146, 148, 0.4);
			// box-shadow: 0px 0px 50px -8px rgba(41, 40, 41, 1);
			cursor: pointer;
		}
	}
}

/*
--Template--

<div class="card">
	<span class="card-date">
		<span class="card-date">
			<div class="day">08</div>
			<div class="month">May</div>
			<div class="year">2018</div>
		</span>
	</span>
	<span class="card-content">
		content
	</span>
	<div class="card-like">
		<img src="./resources/images/clap.svg">
	</div>
</div>


Made by github.com/ghostjson
contributors:
	github.com/r-aravind
*/