$header-bg: darken(#3f403f, 10%); //heading background color
$body-bg: lighten(#9fb8ad,17%); //body background color
$card-bg: lighten(#e6e8e6, 5%); //card background color
$card-text: #000000; //text color of card
$body-text: darken(#3f403f, 20%);
$date-color: $body-text; //color of date inside card